<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/assets/_pic/favicon.png">

  {{ craft.twigpack.includeCssModule("app.css", true) }}

  <title>{{ siteName }}</title>

  {# module variable test #}
  {% set exVar = craft.mathiasModule.exampleVariable() %}
  <!-- {{ exVar}} -->

  <meta name="description" content="{{ infos.SEO_snippet }}">
</head>
<body id="projects">
<div id="app">

    <header>
      <h1>{{ currentSite.name }}
      {% if infos.claim|length %}
      <br><span id="claim">{{ infos.claim }}</span>
      {% endif %}</h1>
      <p><a href="tel:{{ infos.phone|replace({' ': ''}) }}">{{ infos.phone }}</a></p>
      <p><a href="mailto:{{ infos.mail }}">contact</a></p>
    </header>
     
    <main>
      {% set projects = craft.entries().section('projects').all() %}
      {% if projects|length %}
        {% for project in projects %}
          <article class="project">
          {#
            <h2 class="project-title">{{ project.title }}</h2>
          #}
            {% if project.images|length > 1 %}
            {% set counter = 0 %}
              {% for image in project.images %}
                {% if counter < 2%}
                  <img draggable="false" ondragstart="return false;" class="project-image double" src="{{ image.getUrl() }}" alt="Mathias Renner, {{ project.title }}">
                  {% set counter = counter + 1 %}
                {% endif %}
              {% endfor %}
            {% elseif project.images|length == 1 %}
            {% set image = project.images.one() %}
            <img draggable="false" ondragstart="return false;" class="project-image single{{ project.singleHigh ? ' single-high' : '' }}" src="{{ image.getUrl() }}" alt="Mathias Renner, {{ project.title }}">
            {%   else %}
              <p>There seem to be no images for this project!?</p>
            {% endif %}
          </article>
        {% endfor %}
      {% endif %}
    </main>

    <footer>
      <p><a href="#projects">back to top</a></p>
    </footer>

  </div>

  {{ craft.twigpack.includeSafariNomoduleFix() }}
  {{ craft.twigpack.includeJsModule("app.js", true) }}
  {{ craft.twigpack.includeJsModule("chunk-vendors.js", true) }}

</body>
</html>
