<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/assets/_pic/favicon.png">

  {{ craft.twigpack.includeCssModule("app.css", true) }}

  <title>{{ siteName }}</title>

  <meta name="description" content="{{ infos.SEO_snippet }}">
</head>

<body id="projects">
  <div id="app">
  
    <header>
      <h1>{{ currentSite.name }}
      {% if infos.claim|length %}
      <br><span id="claim">{{ infos.claim }}</span>
      {% endif %}</h1>
      <p><a href="tel:{{ infos.phone|replace({' ': ''}) }}">{{ infos.phone }}</a></p>
      <p><a href="mailto:{{ infos.mail }}">contact</a></p>
    </header>
     
    {# get projects from module #}
    {% set projects = craft.mathiasModule.json_projects('projects') %}

    {# Vue Component for Main Content  #}
    <project-list :projects="{{ projects }}"></project-list>

    <footer>
      <p><a href="#projects">back to top</a></p>
    </footer>

  </div>

  {{ craft.twigpack.includeSafariNomoduleFix() }}
  {{ craft.twigpack.includeJsModule("app.js", true) }}
  {{ craft.twigpack.includeJsModule("chunk-vendors.js", true) }}

</body>
</html>
